
*.vsidx
*.ipch
*.db
*.db-shm
*.db-wal
*.opendb
*.ilk
*.log
*.pdb
*.tlog
*.recipe
Hammings_cypher/.vs/Hammings_cypher/v17/.suo
Hammings_cypher/x64/Debug/Hammings_cypher.vcxproj.FileListAbsolute.txt
*.obj
*.idb
